[mysqld]
character-set-server=utf8
innodb_buffer_pool_size = 64M
key_buffer_pool_size = 8M
user=user
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
log-bin = /var/lib/mysql/mysql-bin
skip-networking = 0
federated 

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8